.rare__item {
    align-items: center;
    display: flex;
    flex: 0 1 9%;
    color: var(--text-bold);
    font-weight: 500;
    margin-right: 15px;
    position: relative;

    &:last-child {
        margin-right: 0px;
    }

    &--item {
        cursor: pointer;
        flex: 0 0 235px;
    }

    &-wrapper {
        border-radius: 10px;
        margin-right: 10px;
        height: 45px;
        width: 45px;

        &--knives {
            background: linear-gradient(180deg, rgba(221, 35, 35, 0.30) 0%, rgba(221, 35, 35, 0.00) 100%);
        }

        &--rifles {
            background: linear-gradient(180deg, rgba(95, 35, 221, 0.30) 0%, rgba(95, 35, 221, 0.00) 100%);
        }

        &--SMGs {
            background: linear-gradient(180deg, rgba(35, 143, 221, 0.30) 0%, rgba(35, 143, 221, 0.00) 100%);
        }

        &--heavy {
            background: linear-gradient(180deg, rgba(195, 35, 221, 0.30) 0%, rgba(195, 35, 221, 0.00) 100%);
        }

        &--gloves {
            background: linear-gradient(180deg, rgba(196, 202, 23, 0.3) 0%, rgba(195, 35, 221, 0.00) 100%);
        }

        &--pistols {
            background: linear-gradient(180deg, rgba(26, 202, 67, 0.3) 0%, rgba(195, 35, 221, 0.00) 100%);
        }
    }

    &-image {
        height: 100%;
        width: 100%;
    }

    &--number {
        flex: 0 0 50px;
    }

    &-bold {
        color: var(--text-bold);
        font-weight: 700;
        margin-right: 6px;
    }

    &--limit {
        align-items: flex-start;
        flex: 0 0 300px;
    }

    &-text {
        color: var(--text-primary);
        font-weight: 500;
        margin-right: 8px;

        &--flex {
            flex: 1 0 auto;
        }
    }

    &-dash {
        align-self: center;
        margin: 0px 5px 15px;

        & path {
            stroke: var(--outline-secondary);
        }
    }

    &--bought {
        flex: 0 0 190px;
    }

    &--price {
        align-items: flex-start;
        flex-direction: column;
    }

    &-icon {
        margin-right: 8px;

        & path {
            fill: var(--text-primary);
        }
    }

    &-row {
        align-items: center;
        display: flex;
    }

    &-more {
        align-items: center;
        display: flex;
        justify-content: center;
        background: #FFC759;
        border-radius: 100px;
        color: var(--background-primary);
        font-size: 10px;
        font-weight: 700;
        position: absolute;
        right: 0px;
        top: 40px;
        height: 20px;
        width: 20px;
    }

    &--icon {
        flex: 0 0 30px;
        height: 30px;
        width: 30px;

        & rect {
            fill: var(--background-secondary);
        }

        & path {
            fill: var(--text-primary);

            &:first-child {
                fill: none;
                stroke: var(--text-primary);
            }
        }
    }
}

.rare-info {
    display: flex;
    flex-direction: column;

    &__top {
        align-items: center;
        display: flex;
        margin-bottom: 10px;

        &-name {
            color: var(--text-bold);
            font-weight: 700;
            margin-right: 6px;
            text-transform: uppercase;
        }

        &-skin {
            color: var(--text-primary);
            font-weight: 500;
            margin: 0px 6px;
        }
    }

    &__bottom {
        align-items: center;
        display: flex;

        &-type {
            color: #8075FF;
            font-weight: 700;
            margin-right: 6px;
            text-shadow: 0px 1px 24px #8075FF;
            text-transform: uppercase;
        }

        &-float {
            color: var(--text-primary);
            font-weight: 500;
            margin-left: 6px;
        }
    }
}

.rare-list {
    border-radius: 5px;
    background: var(--button-primary);
    box-shadow: 0px 5px 44px 0px var(--box-shadow-primary);
    display: flex;
    flex-direction: column;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    padding: 20px;
    left: 30px;
    top: 65px;
    transition: all 0.2s linear;
    width: 155px;
    z-index: 1;

    &__el {
        align-items: center;
        display: flex;
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0px;
        }

        &-icon path {
            fill: var(--text-primary);
        }

        &-bold {
            color: var(--text-bold);
            font-weight: 700;
            margin-left: 8px;
        }
    }
}

.rare-el {
    display: flex;
    flex-direction: column;
    position: relative;

    &__limit {
        background: var(--background-secondary);
        border: 1px solid var(--outline-primary);
        border-radius: 10px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        color: var(--text-primary);
        font-weight: 500;
        padding: 14px 40px 14px 30px;
        margin-bottom: 15px;
        width: 140px;
        
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
        }
    }

    &__row {
        align-items: center;
        display: flex;
        justify-content: space-between;

        &-auto {
            color: var(--text-primary);
            cursor: pointer;
            position: relative;
            margin-left: 30px;
    
            &::before {
                content: url('../../assets/images/icons/bot-icon.png');
                position: absolute;
                left: -22px;        
                top: -2px;
            }
        }

        &-icon {
            position: absolute;
            left: -20px;
            top: 1px;

            & path {
                fill: var(--text-bold);
            }
        }

        &-time {
            color: #FFC759;
            font-weight: 500;
            position: relative;
        }

        &-error {
            color: #FFC759;
            font-weight: 500;

            &--red {
                color: #E03616;
            }
        }
    }

    &__icon {
        color: var(--text-bold);
        font-weight: 700;
        position: absolute;
        left: 15px;
        top: 15px;
    }

    &__save {
        cursor: pointer;
        pointer-events: none;
        position: absolute;
        opacity: 0;
        right: 15px;
        top: 18px;
        transition: all 0.2s linear;

        &.active {
            pointer-events: auto;
            opacity: 1;
        }

        & path {
            fill: var(--text-bold);
        }
    }
}

.rare__blackout {
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    position: fixed;
    opacity: 0;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    transition: all 0.2s linear;
    z-index: 2;

    &.active {
        pointer-events: auto;
        opacity: 1;
    }
}

.rare-history {
    background: var(--background-secondary);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 30px 30px 0px;
    pointer-events: none;
    overflow-y: overlay;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s linear;
    height: 740px;
    width: 650px;
    z-index: 3;

    &.active {
        pointer-events: auto;
        opacity: 1;
    }

    &::-webkit-scrollbar {
        width: 25px;

        &-track {
            background: var(--outline-primary);
            background-clip: content-box;
            border: 12px solid transparent;
            border-radius: 15px;
        }

        &-thumb {
            background: var(--text-bold);
            background-clip: content-box;
            border: 11px solid transparent;
            border-radius: 15px;
        }
    }

    &__top,
    &__prices,
    &__titles {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__titles {
        margin-bottom: 20px;
    }

    &__left {
        align-items: center;
        display: flex;

        &-wrapper {
            border-radius: 10px;
            margin-right: 20px;
            height: 65px;
            width: 65px;

            &--knives {
                background: linear-gradient(180deg, rgba(221, 35, 35, 0.30) 0%, rgba(221, 35, 35, 0.00) 100%);
            }
    
            &--rifles {
                background: linear-gradient(180deg, rgba(95, 35, 221, 0.30) 0%, rgba(95, 35, 221, 0.00) 100%);
            }
    
            &--SMGs {
                background: linear-gradient(180deg, rgba(35, 143, 221, 0.30) 0%, rgba(35, 143, 221, 0.00) 100%);
            }
    
            &--heavy {
                background: linear-gradient(180deg, rgba(195, 35, 221, 0.30) 0%, rgba(195, 35, 221, 0.00) 100%);
            }
    
            &--gloves {
                background: linear-gradient(180deg, rgba(196, 202, 23, 0.3) 0%, rgba(195, 35, 221, 0.00) 100%);
            }
    
            &--pistols {
                background: linear-gradient(180deg, rgba(26, 202, 67, 0.3) 0%, rgba(195, 35, 221, 0.00) 100%);
            }
        }

        &-image {
            height: 100%;
            width: 100%;
        }

        &-text {
            align-items: center;
            display: flex;
            color: var(--text-primary);
        }

        &-name {
            color: var(--text-bold);
            font-size: 20px;
            font-weight: 600;
            margin-right: 6px;
        }

        &-skin {
            color: var(--text-primary);
            font-size: 20px;
            font-weight: 500;
            margin-left: 6px;
        }
    }

    &__right {
        align-items: center;
        display: flex;

        &-icon {
            margin-right: 4px;
        }

        &-cross {
            cursor: pointer;
            margin-left: 20px;
        }
    }

    &__graffic {
        border-bottom: 1px solid var(--outline-primary);
        padding-bottom: 30px;
        margin-bottom: 30px;
        height: 272px;
        width: 570px;

        &-image {
            pointer-events: none;
            height: 242px;
            width: 100%;
        }
    }

    &__title {
        color: var(--text-bold);
        font-size: 20px;
        font-weight: 600;
    }
}

.rare__price {
    display: flex;
    flex: 0 0 33.3%;
    flex-direction: column;

    &-title {
        color: var(--text-primary);
        font-weight: 500;
        margin-bottom: 10px;
    }

    &-money {
        color: var(--text-bold);
        font-size: 20px;
        font-weight: 600;
    }
}

.history-filter {
    align-items: center;
    display: flex;
    cursor: pointer;
    position: relative;
    
    &__text {
        color: var(--text-primary);
        font-size: 16px;
        font-weight: 500;
        margin-right: 8px;
    }

    &__icon path {
        fill: var(--text-primary);
    }

    &__list {
        background: var(--button-primary);
        border-radius: 10px;
        pointer-events: none;
        position: absolute;
        padding: 20px;
        opacity: 0;
        right: 0px;
        top: 130%;
        transition: all 0.2s linear;
        width: 150px;

        &.active {
            pointer-events: auto;
            opacity: 1;
        }

        &-el {
            color: var(--text-primary);
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

.history {
    display: flex;
    flex-direction: column;

    & thead tr {
        align-items: center;
        display: flex;
        background: transparent !important;
        padding: 0px 10px 10px !important;
    }

    & tbody tr {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 10px !important;
    }

    &__header {
        align-items: center;
        display: flex;
        flex: 0 0 33.3%;
        cursor: pointer;

        &-text {
            color: var(--text-primary);
            margin-right: 6px;
        }

        &-icon path:last-child {
            fill: var(--text-primary);
        }
    }

    &__item {
        align-items: center;
        display: flex;
        flex: 0 0 33.3%;

        &-bold {
            color: var(--text-bold);
            font-weight: 700;
            margin-right: 6px;
        }

        &-text {
            color: var(--text-primary);
            font-weight: 500;
            margin-right: 6px;
        }
    }
}


@media(hover: hover) {
    .rare__item-more:hover + .rare-list {
        pointer-events: auto;
        opacity: 1;
    }

    .rare__item--icon:hover path {
        fill: var(--text-bold);

        &:first-child {
            fill: none;
            stroke: var(--text-bold);
        }
    }

    .rare-el__limit:hover,
    .rare-el__limit:focus {
        background: var(--background-primary);
        color: var(--text-bold);
    }

    .history-filter:hover .history__filter-text,
    .history-filter.active .history__filter-text {
        color: var(--text-bold);
    }

    .history-filter:hover .history__filter-icon path,
    .history-filter.active .history__filter-icon path {
        fill: var(--text-bold);
    }

    .history-filter__list-el:hover {
        color: var(--text-bold);
    }

    .history__header:hover .history__header-text {
        color: var(--text-bold);
    }

    .history__header:hover path:last-child {
        fill: var(--text-bold);
    }
}